<h1>Angular 2 JS ImageList Component</h1>
<div class="row" >
    <p *ngIf="images.length > 2">There are many heroes!</p>
  <div class="col-sm-3 col-md-3" *ngFor="let imageModel of images">
    <div class="thumbnail">
      <img class="home-view-img" src="{{ imageModel.src }}" alt="{{ imageModel.alt }}">
      <div class="caption">
        <h3>{{ imageModel.title }}</h3>
        <p>{{ imageModel.desc }}</p>
        <p><a href="#" class="btn btn-primary" role="button">Open</a> <a href="#" class="btn btn-default" role="button">Quick Details</a></p>
      </div>
    </div>
</div>
</div>